*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: 1s ease;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #506690;
}

.header{
    width: 100%;
    padding: 10px 20px;
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header>*{
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
}

.header-1>img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.header-1>i{
    color: #869ab8;
    font-size: 18px;
    cursor: pointer;
}

.header-2{
    padding: 5px;
    border-radius: 10px;
    gap: 5px;
}

.sub-header-2{
    border: 1px solid #506690;
    border-radius: 5px;
    background-color: #f1f4f8;
    gap: 10px;
    padding: 10px 30px 10px 20px;
    font-size: 20px;
    display: flex;
}

#email{
    border: none;
    background-color: #f1f4f8;
    font-size: 18px;
    outline: none;
}

.header-3{
    border: 2px solid blue;
    color: blue;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 19px;
    cursor: pointer;
}

.header-1>i:hover{
    color: blue;
}

.header-3:hover{
    background-color: #f1f4f8;
}